<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrotliSharpLib" version="0.3.3" targetFramework="net472" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="Fody" version="6.0.5" targetFramework="net472" developmentDependency="true" />
  <package id="HtmlTextBlock" version="1.0.1" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Material" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NLog" version="4.6.7" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.5.2" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
  <package id="StreamExtended" version="1.0.201" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="Titanium.Web.Proxy" version="3.0.907" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>